<div class="row">
  <div class="col-md-6">
    <h1>Editing Student</h1>

    <%= render 'form', user: @student %>

    <%= link_to 'Show', students_path(@student), class: "btn btn-outline-primary" %>
    <%= link_to 'Back', students_path, class: "btn btn-outline-primary" %>
  </div>
</div>
