<div class="row">
  <div class="col-md-6">
    <h1>New Student</h1>

    <%= render 'form', user: @student %>

    <%= link_to 'Back', students_path, class: "btn btn-outline-primary" %>
  </div>
</div>

